$body-background: #fdfdfd;
$default-border-color: #727272;
$controls-height: 95px;
$default-border-width: 1px;

$row-margin: 15px;

$color-red: red;
$color-blue: blue;
$color-green: green;
$color-yellow: yellow;
