<div class="dash__table-wrap">
  <div class="container">
    <div class="row dash__table-head">
      <div class="col-2">id</div>
      <div class="col-2">int</div>
      <div class="col-2">float</div>
      <div class="col-2">color</div>
      <div class="col-4">child</div>
    </div>
    <ng-container *ngFor="let item of items; trackById">
      <div class="row dash__table-row">
        <div class="col-2">{{item.id}}</div>
        <div class="col-2">{{item.int}}</div>
        <div class="col-2">{{item.float}}</div>
        <div class="col-2">
          <span [class]="'dash__bg--' + item.color">{{item.color}}</span>
        </div>
        <div class="col-4">
          <app-dashboard-nested-table class="w-100" [item]="item.child"></app-dashboard-nested-table>
        </div>
      </div>
    </ng-container>
  </div>
</div>
