<div class="container dash__table-inner">
  <div class="row dash__table-head">
    <div class="col-6">id</div>
    <div class="col-6">color</div>
  </div>
  <div class="row">
    <div class="col-6">{{item?.id}}</div>
    <div class="col-6">
      <span [class]="'dash__bg--' + item?.color">{{item?.color}}</span>
    </div>
  </div>
</div>
