<ng-container *ngIf="storageService.storage$ | async as state">
  <div class="dash">
    <div class="dash__controls">
      <div class="dash__controls-input">
        <app-dashboard-input
          [label]="'Timer, ms'"
          [model]="state.interval"
          (output)="handleIntervalChange($event)"
        ></app-dashboard-input>
      </div>
      <div class="dash__controls-input">
        <app-dashboard-input
          [label]="'Array, size'"
          [model]="state.numberOfArrays"
          (output)="handleNumberOfArraysChange($event)"
        ></app-dashboard-input>
      </div>
      <div class="dash__controls-input">
        <app-dashboard-input
          [label]="'Additional array ids'"
          [model]="''"
          (output)="handleIdsChange($event)"
        ></app-dashboard-input>
      </div>
    </div>
    <div class="dash__content">
      <app-dashboard-table [items]="state.data"></app-dashboard-table>
    </div>
  </div>
</ng-container>
