/*
Application styles.
Prefer to write outside of components because could be situation when required change styles for all app
and it might be complicated to change them in every component.
 */

// Added bootstrap for easier work with grids
@import "~bootstrap/dist/css/bootstrap.css";
@import './assets/scss/variables';

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  background: $body-background;
}

table {
  border-collapse: collapse;
}

// Dashboard
.dash {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 20px 0;

  &__controls {
    height: 95px;
    display: flex;
    justify-content: space-around;
    border: $default-border-width solid $default-border-color;

    &-input div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 20px;

      input {
        margin-top: 15px;
      }
    }

    &-item:last-child div {
      align-items: flex-start;
    }
  }

  &__content {
    height: calc(100% - $controls-height - ($default-border-width * 2));
  }

  &__table-wrap {
    padding: 20px;
    width: 100%;
    height: 100%;
    border: $default-border-width solid $default-border-color;
    border-top: none;
    box-sizing: border-box;
    overflow-y: auto;

    .container > .row > div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
    }
  }

  &__table-head {
    font-weight: bold;
  }

  &__table-row {
    margin-top: $row-margin;
    border: $default-border-width solid $default-border-color;
  }

  &__table-inner {
    border: $default-border-width solid $default-border-color;
    width: 80%;

    .row {
      padding: 10px 0;
    }
  }

  &__bg--red {
    background: $color-red;
  }

  &__bg--yellow {
    background: $color-yellow;
  }

  &__bg--green {
    background: $color-green;
  }

  &__bg--blue {
    background: $color-blue;
  }
}
